{% extends "base.html" %}
{% load static %}
{% block title %} О фэнзине {% endblock %}
{% block content %}
<div class="rounded-5 bg-white" style="margin-bottom: 1.25rem; padding-bottom: 2.5rem">
<div class="row">
  <div class="col"></div>
  <div class="col-10">
    <div class="row" style="margin-top: 3.75rem">
      <div class="col"></div>
      <div class="col-10 col-md-3">
        <img src="{% static "/images/pasha.jpeg" %}" class="img-fluid rounded-5" alt="Паша с гитарой">
      </div>
      <div class="col-10 col-md-7">
        <h2>Что такое «Альбомы по пятницам»?</h2>
        <p>Привет! Это фэнзин «Альбомы по пятницам», в котором раз в неделю (по пятницам) выходят короткие рецензии на альбомы, которые вышли в эту пятницу. </p>
        <p>Его ведет Паша Борисов, то есть я. В прошлом я работал в старой «Ленте.ру», «Медузе» (2014 - 2018), Русской службе Би-би-си и других изданиях, где помимо обычных тем писал и про музыку тоже. Я живу в Лондоне, много хожу на концерты и играю в <a href="https://open.spotify.com/artist/14NZKA3cCO2Mh0E1ODcvd9?si=OLbT3la2R6u7j4MsB_ke_A">нескольких</a> <a href="https://manremoval.com">группах</a> на гитаре и басу. 
        </p>
        <p>Фэнзин создан в весной 2019 года как телеграм-канал, в 2021-м  я запустил рассылку в сабстеке (появились так называемые тейки недели, то есть небольшие колонки на волнующие меня темы). Осенью 2022-года я осмелился написать Лере Лазаревой, главной экспертке в мире по британской инди-сцене, и мы замутили совместный подкаст, в котором раз в неделю обсуждаем интересные нам альбомы и пытаемся разобраться, почему нам эта музыка нравится или не нравится. 
        </p>
        <p>Раз в месяц выходят спецвыпуски подкаста про культовые альбомы. Эти выпуски выходят с задержкой: сначала в раннем доступе для наших дорогих суппортеров, а спустя два месяца для всех остальных. Стать суппортером можно на <a href="https://boosty.to/albumsweekly">Бусти</a>.
        </p>
        <p>Попасть в «Альбомы по пятницам» несложно: нужно прислать за неделю до релиза свой альбом мне в телегу @frailty. Можно и после релиза. Если мне понравится, я напишу. За деньги нельзя. Совсем. Никак.  
        </p>
      </div>
      <div class="col"></div>
    </div>
  </div>
  <div class="col"></div>
</div>
</div>
{% endblock  %}
