<div class="rounded-5 bg-white rounded-bottom-0">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <div class="row" style="margin-top: 3.75rem; margin-bottom: 1rem">
        <h6>Альбомы по пятницам</h6>
      </div>
      <div class="row" style="margin-bottom: 3.75rem;">
        <div class="col-6 d-flex flex-column flex-lg-row">
          <a class="footer-link" href="{% url 'album_list' %}">Альбомы</a>
          <a class="footer-link" href="{% url 'podcast_list' %}">Подкасты</a>
          <a class="footer-link" href="{% url 'text_list' %}">Тейки</a>
          <a class="footer-link" href="">О проекте</a>
        </div>
        <div class="col-6 d-flex flex-column flex-lg-row justify-content-end">
          <a class="footer-link" href="https://www.youtube.com/@frailtynine" target="_blank">Ютуб</a>
          <a class="footer-link" href="https://t.me/albumsweekly" target="_blank">Телеграм</a>
          <a class="footer-link" href="https://albumsweekly.substack.com" target="_blank">Рассылка</a>
        </div>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
</div>